body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222831;
  color: #ececec;
  font-family: 'Montserrat', sans-serif;
}
a {
  color: #ececec;
  text-decoration: none;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
